* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Small devices */
@media screen and (min-width: 0px) {
  #container {
    margin: 0 auto;
    width: 100%;
  }
  
    header {
    width: 100%;
    height: auto;
  }
  
    #logo {
    width: 100%;
    height: auto;
    
  }
  
  #logo a > img{
 margin: 0 auto; width: 100%; height: 80%; margin-top: 5px; padding: 2px;
  }
  
  
  #slideShow {
    clear: both;
    width: 100%;
    height: auto; /* 이미지 높이에 맞게 자동 조절됩니다 */
    overflow: hidden;
    margin-bottom: 20px; /* div tabMenu와 겹치지 않도록 아래 여백을 추가합니다 */
  }
  
  
#slides {
    position: absolute;
    z-index: 3;
  }
  
  #slides > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }

  #contents {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; /* 이 부분을 추가해야 세로로 배열됩니다 */
    z-index: 2;
  }
  #tabMenu {
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.192);
    margin-top: 20px; /* div slides 아래에 20px 여백을 주도록 수정 */
    z-index: 2;
  }

  #links {
    width: 100%;
    height: 100%;
    background-color: rgba(156, 120, 120, 0.192);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  
  #links ul {
    list-style: none;
  }
  
  #links ul li a > img {
    margin-top: 20px;
    width: 70%;
    height: 70%;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 15%;
  }
  
  footer {
    width: 100%;
    height: 30px;
    border-top: 2px solid #22222270;
  }

  .calendar {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px; /* 더 작은 크기로 조절 */
    padding-bottom: 5%;
    text-align: center;
    padding-left: 0; /* 더 작은 크기로 조절 */
    cursor: pointer; /* calendar를 클릭할 수 있게 만들어줌 */
    position: relative; /* 부모(relative)에 대한 상대적 위치 설정 */
  }
  
    .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d94139d0;
    padding: 10px;
    font-size: 12px;
  }
  
    .prev, .next {
    cursor: pointer;
    font-weight: 800;
    font-size: 30px;
    opacity: 0.5;
  }
  
    .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: #d9413984;
    padding: 10px 0;
    font-size: 14px;
  }
  
    .days {
    background: #f0eeea;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 15px 0;
    cursor: pointer;
    font-size: 13px;
    height: 200px;
  }
  
    .days div:not(:empty):hover {
    color: #d94239; 
  }
  

  .popup {
    display: none;
    position: absolute;
    left: 0;
    width: 250px;
    height: 310px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 25px;
    z-index: 1;
  }

  
  
    .popup-content  {
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    top : 50px;
    background: #d94139ab;
  }
  
    .popup-image {
    width: 22px; /* 원하는 가로 너비 */
    height: 22px; /* 원하는 세로 높이 */
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  
    .text-with-images {
    display: flex;
    align-items: center;
  }
  
    .text {
      margin-right: 10px; /* 텍스트와 이미지 사이의 간격 조절 가능 */
    }
  
    .images img {
      margin-right: 2px; /* 이미지 사이의 간격 조절 가능 */
    }
  
  
  
    #bottomMenu {
      width: 100%;
      height : 30px;
      position: relative;
    }
  
    #bottomMenu ul {
      list-style: none;
    }
  
    #bottomMenu ul li {
      float : left;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 8px;
    }
  
    #bottomMenu ul li:last-child {
      border-right: 1px solid #ddd;
    }
  
    #bottomMenu ul li p {
      font-size: 10px;
      color : #020202;
    }
  
    #sns {
      position: absolute;
      right: 0;
    }
  
    #sns ul li {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 5px;
    }
  
    #sns ul li img {
      height: 20px;
      width: 20px;
    }

    body {
      font-family: Yeongdeok-Sea;
      font-size: 10px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #container {
    margin: 0 auto;
    width: 760px;
  }
  
  header {
    width: 100%;
    height: auto;
  }
  
  #logo {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  #logo a > img{
    margin-top: 10px;
    height: auto;
       }
  
  #slideShow {
    clear: both;
    width: 100%;
    height: 135px;
    overflow: hidden;
    position: relative;
    margin: 0;
  }
  
  #slides {
    position: absolute;
  }
  
  #slides > img {
    width: 100%;
    float: left;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.7;
    right : 35px;
  }
  
  
  #contents {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  
  #tabMenu {
    float: left;
    width: 100%;
    height: 458px;
    background-color: rgba(175, 175, 175, 0.192);
    margin: 0;
  }
  
  #links {
    float: right;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 120, 120, 0.192);
  }
  
  #links ul {
    list-style: none;
    width: 100%;
    height: 100%;
  }
  
  #links ul li a > img {
    margin-top: 15px;
    margin-left: 15%;
    width : 500px;
    height: 200px;
    border-radius: 30px;
  }
  
  footer {
    width: 100%;
    height: 70px;
    border-top: 2px solid #22222270;
    margin: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .calendar {
    width: 350px;
    height: 600px; /* 최소 높이를 지정합니다. */
    padding-top: 30px ;
    text-align: center;
    padding-left: 30px;
    margin: 0;
  }
  
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d94139d0;
    padding: 10px;
    font-size: 15px;
  }
  
  .prev, .next {
    cursor: pointer;
    font-weight: 800;
    font-size: 30px;
    opacity: 0.5;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: #d9413984;
    padding: 10px 0;
    font-size: 25px;
  }
  
  .days {
    background: #f0eeea;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 15px 0;
    cursor: pointer;
    font-size: 25px;
    height: 300px;
  }
  
  .days div:not(:empty):hover {
    color: #d94239; 
  }
  

  .popup {
    display: none;
    position: absolute;
    top:0;
    left: 40px;
    width: 400px;
    height: 300px;
    margin-bottom: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    background: none;
  }
  
  .popup-content {
    height: 120%;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    font-size: 25px;
    background: #d94139ab;
    left: 30px;
    bottom: 300px;
  }
  
  .popup-image {
    width: 30px; /* 원하는 가로 너비 */
    height: 30px; /* 원하는 세로 높이 */
    margin: 0;
    padding: 0;
  }
  
  .text-with-images {
    display: flex;
    align-items: center;
  }
  
  .text {
    margin-right: 10px; /* 텍스트와 이미지 사이의 간격 조절 가능 */
  }
  
  .images img {
    margin-right: 2px; /* 이미지 사이의 간격 조절 가능 */
  }
  

  .pastDay {
    color: lightgray;
  }
  
  .today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  .futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
  }
  .futureDay:hover{
    background:#eee;
  }
  
  .futureDay.choiceDay,
  .today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  #bottomMenu {
    width: 100%;
    height : 20px;
    position: relative;
  }
  
  #bottomMenu ul {
    list-style: none;
  }
  
  #bottomMenu ul li {
    float : left;
    padding : 2px 25px;
    border-right: 1px solid #ddd;
    margin-top: 25px;
  }
  
  #bottomMenu ul li:last-child {
    border-right: 1px solid #ddd;
  }
  
  #bottomMenu ul li p {
    font-size: 17px;
    color : #020202;
  }
  
  #sns {
    position: absolute;
    right: 0;
  }
  
  #sns ul li {
    border: none;
    margin-top: 4px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  #sns ul li img {
    height: 50px;
    width: 50px;
  }

  body {
    font-family: Yeongdeok-Sea;
    font-size: 30px;
  }
}

/* large devices*/
@media screen and (min-width: 1023px) { 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #container {
    margin: 0 auto;
    width: 1652px;
  }
  
  header {
    width: 1652px;
    height: 100px;
}
  
#logo {
    width: 700px;
    height: 100%;
    margin-bottom: 0;
}

#logo a > img{
margin-top: 10px;
   }

  #slideShow {
    clear: both;
    width: 100%;
    height: 235px;
    overflow: hidden;
    position: relative;
    margin: 0;
  }
  
  #slides {
    position: absolute;
  }
  
  #slides > img {
    width: 100%;
    float: left;
    width: 1650px;
    height: 235px;
    object-fit: cover;
    opacity: 0.7;
  }
  
  
  #contents {
    width: 100%;
    height: 520px;
    flex-direction: row
  }
  
  #tabMenu {
    float: left;
    width: 65%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.192);
    margin: 0;
  }
  
  #links {
    float: right;
    width: 35%;
    height: 100%;
    background-color: rgba(156, 120, 120, 0.192);
  }
  
  #links ul {
    list-style: none;
    width: 100%;
    height: 100%;
  }
  
  #links ul li a > img {
    margin-top: 35px;
    margin-left: 40px;
    width : 500px;
    height: 200px;
    border-radius: 30px;
  }
  
  footer {
    width: 100%;
    height: 70px;
    border-top: 2px solid #22222270;
    margin: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .calendar {
    width: 650px;
    min-height: 600px; /* 최소 높이를 지정합니다. */
    padding-top: 30px ;
    text-align: center;
    padding-left: 30px;
    margin: 0;
  }
  
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d94139d0;
    padding: 10px;
    font-size: 20px;
  }
  
  .prev, .next {
    cursor: pointer;
    font-weight: 800;
    font-size: 30px;
    opacity: 0.5;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: #d9413984;
    padding: 10px 0;
    font-size: 30px;
  }
  
  .days {
    background: #f0eeea;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 15px 0;
    cursor: pointer;
    font-size: 30px;
    height: 300px;
  }
  
  .days div:not(:empty):hover {
    color: #d94239; 
  }
  

  .popup {
    display: none;
    position: absolute;
    top:0;
    left: 40px;
    width: 350px;
    height: 330px;
    margin-bottom: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    background: none;
  }
  
  .popup-content {
    height: 120%;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    font-size: 25px;
    background: #d94139ab;
    left: 30px;
    bottom: 300px;
  }
  
  .popup-image {
    width: 28px; /* 원하는 가로 너비 */
    height: 28px; /* 원하는 세로 높이 */
    margin: 0;
    padding: 0;
  }
  
  .text-with-images {
    display: flex;
    align-items: center;
  }
  
  .text {
    margin-right: 10px; /* 텍스트와 이미지 사이의 간격 조절 가능 */
  }
  
  .images img {
    margin-right: 2px; /* 이미지 사이의 간격 조절 가능 */
  }
  

  .pastDay {
    color: lightgray;
  }
  
  .today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  .futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
  }
  .futureDay:hover{
    background:#eee;
  }
  
  .futureDay.choiceDay,
  .today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  #bottomMenu {
    width: 100%;
    height : 20px;
    position: relative;
  }
  
  #bottomMenu ul {
    list-style: none;
  }
  
  #bottomMenu ul li {
    float : left;
    padding : 2px 25px;
    border-right: 1px solid #ddd;
    margin-top: 25px;
  }
  
  #bottomMenu ul li:last-child {
    border-right: 1px solid #ddd;
  }
  
  #bottomMenu ul li p {
    font-size: 17px;
    color : #020202;
  }
  
  #sns {
    position: absolute;
    right: 0;
  }
  
  #sns ul li {
    border: none;
    margin-top: 4px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  #sns ul li img {
    height: 50px;
    width: 50px;
  }

  body {
    font-family: Yeongdeok-Sea;
    font-size: 30px;
  }
}