* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 0px) {

    #container {
        margin: 0 auto;
        width: 100%;
      }
      
        header {
        width: 100%;
        height: auto;
      }
      
        #logo {
        width: 100%;
        height: auto;
        
      }
      
      #logo a > img{
     display :flex; margin: 0 auto; width: 100%; height: 80%; margin-top: 5px; padding: 2px;
      }
      
    
.image-container {
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column;
    align-items: center; /* 세로 정렬을 중앙에 위치시킴 */
    width: 100%; /* 부모 요소의 가로 너비에 맞추기 */
    height: auto; /* 원하는 높이 설정 */
    background-color: rgba(175, 175, 175, 0.192);
}

.image-container img {
    width:200px;
    height:200px;
    margin: 10px;
    border-radius: 20px;
}

footer {
    width: 100%;
    height: 30px;
    border-top: 2px solid #22222270;
  }
  #bottomMenu {
    width: 100%;
    height : 30px;
    position: relative;
  }

  #bottomMenu ul {
    list-style: none;
  }

  #bottomMenu ul li {
    float : left;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 8px;
  }

  #bottomMenu ul li:last-child {
    border-right: 1px solid #ddd;
  }

  #bottomMenu ul li p {
    font-size: 10px;
    color : #020202;
  }

  #sns {
    position: absolute;
    right: 0;
  }

  #sns ul li {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
  }

  #sns ul li img {
    height: 20px;
    width: 20px;
  }
  body {
    font-family: Yeongdeok-Sea;
    font-size: 10px;
  }
      
      
}

@media screen and (min-width: 767px) {
    #container {
        margin: 0 auto;
        width: 760px;
      }
      
      header {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
      
      #logo {
        width: 50%;
        height: 100%;
        margin: 0 auto;
      }

      #logo a > img{
        margin-top: 10px;
        height: auto;
           }
        
      .image-container {
        display: flex; /* Flexbox 레이아웃 사용 */
        justify-content: center; /* 가로 정렬을 중앙에 위치시킴 */
        flex-direction: row;
        align-items: center; /* 세로 정렬을 중앙에 위치시킴 */
        width: 100%; /* 부모 요소의 가로 너비에 맞추기 */
        height: 400px; /* 원하는 높이 설정 */
        background-color: rgba(175, 175, 175, 0.192);
    }
    
  #bottomMenu {
    width: 100%;
    height : 20px;
    position: relative;
  }
  
  #bottomMenu ul {
    list-style: none;
  }
  
  #bottomMenu ul li {
    float : left;
    padding : 2px 25px;
    border-right: 1px solid #ddd;
    margin-top: 25px;
  }
  
  #bottomMenu ul li:last-child {
    border-right: 1px solid #ddd;
  }
  
  #bottomMenu ul li p {
    font-size: 17px;
    color : #020202;
  }
  
  #sns {
    position: absolute;
    right: 0;
  }
  
  #sns ul li {
    border: none;
    margin-top: 4px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  #sns ul li img {
    height: 50px;
    width: 50px;
  }

  body {
    font-family: Yeongdeok-Sea;
    font-size: 30px;
  }
}

@media screen and (min-width: 1023px) {

    #container {
        margin: 0 auto;
        width: 1652px;
      }
      
      header {
        width: 1652px;
        height: 100px;
        margin-bottom: 0;
    }
      
    #logo {
        width: 700px;
        height: 100%;
        margin-bottom: 0;
    }
    
    #logo a > img{
    margin-top: 10px;
       }
.image-container {
    clear: both;
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 가로 정렬을 중앙에 위치시킴 */
    flex-direction: row;
    align-items: center; /* 세로 정렬을 중앙에 위치시킴 */
    width: 100%; /* 부모 요소의 가로 너비에 맞추기 */
    height: 750px; /* 원하는 높이 설정 */
    background-color: rgba(175, 175, 175, 0.192);
    margin: 0;
}

.image-container img {
    width:400px;
    height:400px;
    margin: 30px;
    border-radius: 30px;
}

footer {
    width: 100%;
    height: 70px;
    border-top: 2px solid #22222270;
}

#bottomMenu {
    width: 100%;
    height : 20px;
    position: relative;
}
  
#bottomMenu ul {
    list-style: none;
}
  
#bottomMenu ul li {
    float : left;
    padding : 2px 25px;
    border-right: 1px solid #ddd;
    margin-top: 25px;
}
  
#bottomMenu ul li:last-child {
    border-right: none;
}
  
#bottomMenu ul li p {
    font-size: 17px;
    color : #020202;
}

#sns {
    position: absolute;
    right: 0;
}
  
#sns ul li {
    border: none;
    margin-top: 4px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
}